trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: 'mpatel-platform-v2'
    command: 'jf rt ping'

- task: JFrogAudit@1
  inputs:
    xrayConnection: 'mpatel-xray-v2'
    watchesSource: 'none'
    licenses: true

- task: JFrogNpm@1
  inputs:
    command: 'install'
    artifactoryConnection: 'mpatel-artifactory-v2'
    sourceRepo: 'alpha-npm-virtual'
    collectBuildInfo: true
    threads: '1'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'


- task: JFrogNpm@1
  inputs:
    command: 'pack and publish'
    artifactoryConnection: 'mpatel-artifactory-v2'
    targetRepo: 'alpha-npm-virtual'
    collectBuildInfo: true
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
    includeEnvVars: true

- task: JFrogPublishBuildInfo@1
  inputs:
    artifactoryConnection: 'mpatel-artifactory-v2'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: 'mpatel-platform-v2'
    command: |
      jf rt build-add-git \
        "$(Build.DefinitionName)" \
        "$(Build.BuildNumber)"

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: 'mpatel-platform-v2'
    command: |
      jf rt build-add-env \
        "$(Build.DefinitionName)" \
        "$(Build.BuildNumber)" \
        "AZDO_PIPELINE=$(Build.DefinitionName)"
      jf rt build-add-env \
        "$(Build.DefinitionName)" \
        "$(Build.BuildNumber)" \
        "AZDO_RUN=$(Build.BuildId)"
      jf rt build-add-env \
        "$(Build.DefinitionName)" \
        "$(Build.BuildNumber)" \
        "AZDO_PROJECT=$(System.TeamProject)"

- task: CmdLine@2
  inputs:
    script: 'sleep 60'

- task: JFrogBuildScan@1
  inputs:
    xrayConnection: 'mpatel-xray-v2'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
    allowFailBuild: false
    vuln: true

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: 'mpatel-platform-v2'
    command: |
      jf evd create \
        --build-name "$(Build.DefinitionName)" \
        --build-number "$(Build.BuildNumber)"
