trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  REGISTRY_URL: soleng.jfrog.io
  DOCKER_REPO_NAME: alpha-docker-virtual

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: 'mpatel-platform-v2'
    command: 'jf rt ping'

# - task: JFrogAudit@1
#   inputs:
#     xrayConnection: 'mpatel-xray-v2'
#     watchesSource: 'none'
#     licenses: true

- task: JFrogNpm@1
  displayName: 'npm install dependencies'
  inputs:
    command: 'install'
    artifactoryConnection: 'mpatel-artifactory-v2'
    sourceRepo: 'alpha-npm-virtual'
    collectBuildInfo: true
    threads: '1'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'


- task: JFrogNpm@1
  inputs:
    command: 'pack and publish'
    artifactoryConnection: 'mpatel-artifactory-v2'
    targetRepo: 'alpha-npm-virtual'
    collectBuildInfo: true
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
    includeEnvVars: true

- task: JFrogPublishBuildInfo@1
  inputs:
    artifactoryConnection: 'mpatel-artifactory-v2'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'

- task: CmdLine@2
  inputs:
    script: 'sleep 60'

# - task: JFrogBuildScan@1
#   inputs:
#     xrayConnection: 'mpatel-xray-v2'
#     buildName: '$(Build.DefinitionName)'
#     buildNumber: '$(Build.BuildNumber)'
#     allowFailBuild: false
#     vuln: true

- task: Docker@2
  inputs:
    containerRegistry: 'soleng_docker_registry'
    repository: 'alpha-docker-virtual'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    arguments: |
      --build-arg REGISTRY_URL=soleng.jfrog.io
      --build-arg DOCKER_REPO_NAME=alpha-docker-virtual

- task: JFrogDocker@1
  inputs:
    command: 'Push'
    artifactoryConnection: 'mpatel-artifactory-v2'
    imageName: 'soleng.jfrog.io/alpha-docker-virtual/node-goat'
    collectBuildInfo: true
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
    includeEnvVars: true
    threads: '3'
    skipLogin: false