trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  REGISTRY_URL: soleng.jfrog.io
  DOCKER_REPO_NAME: alpha-docker-virtual

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- task: JfrogCliV2@1
  inputs:
    jfrogPlatformConnection: 'mpatel-platform-v2'
    command: 'jf rt ping'

# - task: JFrogAudit@1
#   inputs:
#     xrayConnection: 'mpatel-xray-v2'
#     watchesSource: 'none'
#     licenses: true

- task: JFrogNpm@1
  displayName: 'npm install dependencies'
  inputs:
    command: 'install'
    artifactoryConnection: 'mpatel-artifactory-v2'
    sourceRepo: 'alpha-npm-virtual'
    collectBuildInfo: true
    threads: '1'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'


- task: JFrogNpm@1
  inputs:
    command: 'pack and publish'
    artifactoryConnection: 'mpatel-artifactory-v2'
    targetRepo: 'alpha-npm-virtual'
    collectBuildInfo: true
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
    includeEnvVars: true

- task: JfrogCliV2@1
  displayName: 'Docker build and Publish'
  inputs:
    jfrogPlatformConnection: 'mpatel-platform-v2'
    command: |
      jf docker login soleng.jfrog.io
      jf docker image build --build-arg REGISTRY_URL=$(REGISTRY_URL) --build-arg DOCKER_REPO_NAME=$(DOCKER_REPO_NAME) --module docker-build --tag $(REGISTRY_URL)/$(DOCKER_REPO_NAME)/node-goat:$(Build.BuildNumber) .
      jf docker push $(REGISTRY_URL)/$(DOCKER_REPO_NAME)/node-goat:$(Build.BuildNumber) --build-name=$(Build.DefinitionName) --build-number=$(Build.BuildNumber)
      jf rt bce $(Build.DefinitionName) $(Build.BuildNumber)
      jf rt bag $(Build.DefinitionName) $(Build.BuildNumber)



# - task: CmdLine@2
#   inputs:
#     script: 'sleep 60'

# - task: JFrogBuildScan@1
#   inputs:
#     xrayConnection: 'mpatel-xray-v2'
#     buildName: '$(Build.DefinitionName)'
#     buildNumber: '$(Build.BuildNumber)'
#     allowFailBuild: false
#     vuln: true

# - task: JFrogDocker@1
#   inputs:
#     command: 'Push'
#     artifactoryConnection: 'mpatel-artifactory-v2'
#     imageName: 'soleng.jfrog.io/alpha-docker-virtual/node-goat:$(Build.BuildId)'
#     collectBuildInfo: true
#     buildName: '$(Build.DefinitionName)'
#     buildNumber: '$(Build.BuildNumber)'
#     includeEnvVars: true

- task: JFrogPublishBuildInfo@1
  inputs:
    artifactoryConnection: 'mpatel-artifactory-v2'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'


- bash: |
    echo "Restoring private key..."
    echo "$JF_EVD_PRIVATE_KEY" | base64 --decode > evidence.key
    chmod 600 evidence.key

    echo "Key restored:"
    ls -l evidence.key
    wc -c evidence.key
  env:
    JF_EVD_PRIVATE_KEY: $(JF_EVD_PRIVATE_KEY)
  displayName: "Restore JFrog Evidence private key"

- bash: |
    cat > sign.json <<EOF
    {
      "actor": "$(Build.RequestedFor)",
      "pipeline": "$(Build.DefinitionName)",
      "buildNumber": "$(Build.BuildNumber)",
      "commit": "$(Build.SourceVersion)",
      "repo": "$(Build.Repository.Name)",
      "date": "$(date -u +"%Y-%m-%dT%H:%M:%SZ")"
    }
    EOF

    cat ./sign.json
  displayName: 'Create build signature payload'

- task: JfrogCliV2@1
  displayName: 'Sign build evidence'
  inputs:
    jfrogPlatformConnection: 'mpatel-platform-v2'
    command: >
      jf evd create --build-name "$(Build.DefinitionName)" --build-number "$(Build.BuildNumber)" --predicate ./sign.json --predicate-type https://jfrog.com/evidence/build-signature/v1 --key ./evidence.key --key-alias evd-signing-mpatel-ado

